/*This will be my CSS File*/
.HeadColor{
  color:#9c031e;

}

.homePage {
  position: relative;
}

.WelcomePos{
  position: absolute;
  margin-left: 25%;
  margin-bottom: 60%;
  margin-top: 20%;
  margin-right: 25%;
  background-color: #262626;
  opacity: 0.7;
  border: 3px solid #9c031e;
  border-radius: 2px;
  
}

.fa-twitter-square{
  
  color:#9c031e;
  
}

.fa-facebook-square{
   
  color:#9c031e;
}

.fa-linkedin-square{
  
  color:#9c031e;
}

.fa-github-square{
  
  color:#9c031e;
}

.Skhead{
  opacity: 1.5;
  color: black;
  font-weight: 500;
}
.CDCenter{
  text-align: center;
}
/*.HeadPos{
  margin-top: 33%;
  margin-right: 20%;
}*/
/* Hexagon animation code here*/
.hexagon {
  position: relative;
  width: 200px; 
  height: 115.47px;
  background-color: #9c031e;
  margin: 57.74px 0;
  opacity: 0.5;
}

.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  
}

.hexagon:before {
  bottom: 100%;
  border-bottom: 57.74px solid #9c031e;
  
}

.hexagon:after {
  top: 100%;
  width: 0;
  border-top: 57.74px solid #9c031e;
  
}
.hexagon1{
  margin-bottom: 20px;
}
.hexagon2{
  margin-left: 140px;
}
.shadowfilter {
	-webkit-filter: drop-shadow(0px 0px 0px rgb(255, 0, 0));
	-webkit-transition: all 0.7s linear;
	-o-transition: all 0.7s linear;
	transition: all 0.7s linear;
	
}.shadowfilter:hover {
	-webkit-filter: drop-shadow(0px 0px 30px rgb(156, 3, 30));
}
.style_prevu_kit
{
    display:inline-block;
    border:0;
    
    position: relative;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1); 
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1); 
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    transition: all 200ms ease-in;
    transform: scale(1);   

}
.style_prevu_kit:hover
{
    box-shadow: 0px 0px 150px #000000;
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.2);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.2);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.2);
    transition: all 200ms ease-in;
    transform: scale(1.2);
}

