/*This will be my CSS File*/
.HeadColor{
  color:#9c031e;

  
}
.fa-twitter-square{
  
  color:#9c031e;
  
}

.fa-facebook-square{
   
  color:#9c031e;
}

.fa-linkedin-square{
  
  color:#9c031e;
}

.fa-github-square{
  
  color:#9c031e;
}

span.Skhead{
  opacity: 1;
  color: green;
}
